@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";


/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

*/

body {
  font-family: "Figtree", sans-serif;
  width: 100vw;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@utility glass-effect {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0, 0.4);
}

@utility linear-gradient {
  background: linear-gradient(to bottom, #ffffff 30%, #898989);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* @utility linear-gradient {
  background: linear-gradient(to bottom, #898989 30%, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
} */

@utility white-shadow {
  text-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.3);
}